#velo {
    height : 17vh;
    background-color: #1A2D45;
    color :white;
}


#cap {
    height : 17vh;
    background-color: #C0CA53;
}

.top {
    display :flex;
    padding:3vw 5vw 0 5vw;
}

.top svg {
    height : 12vw;
    width : 12vw
}

.description {
    padding-left : 5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.nom {
    font-size:40px;
    margin : 0;
}

.modele {
    font-size : 30px;
    margin : 0;
}

.bottom {
    display :flex;
    padding:1vw 5vw 3vw 5vw;
}

.distance {
    display:flex;
    flex-direction: column;
    padding-right : 8vw;
}

.nb-km {
    font-size : 100px;
    margin : 0;
}

.km {
    font-size : 30px;
    margin : 0;
}

.heures {
    
    font-size : 30px;
    margin:0;
    padding-top :1vh;
}

#fc {
    background-color: #495227;
    height:15vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position:relative;
    color:black;
}

 #heart {
    height : 27vw;
    margin : 0 35vw;
    position : absolute;
    top : 1vh;
    z-index:1;
 }

 #fc h2 {
    position: relative;
    z-index:10;
    padding-left:0;
    margin:0;
 }

 #fc p {
    position: relative;
    z-index : 10;
 }


#max {
    height : 12.5vh;
    background-color: #FC5200;
    padding-top : 3vw;
    position:relative;
}

#max h2 {
    margin : 0;
}

#triangle-max {
    background-image: url("../images/triangle-max.svg");
    background-repeat: no-repeat;
    background-position: left ;
    position :absolute;
    bottom : 0;
    height:100%;
    width : 100%;
}

#triangle-max p{
    width : 37vw;
    text-align: center;
    
}

#bpm {
    padding-top : 5vh;
    padding-left: 5vw;
    font-size:30px;
    margin:0;
}

#sortie-max {
    font-size : 30px;
    padding-left:50vw;
    width : 40vw;
}