.fastest-sports {
    height:30vh;
}

.longest-sport {
    height : 15vh;
}

.sport-1 {
    background-color: #FC5200;
    border-bottom: solid 3px black;
    height:50%;
}

.sport-2 svg {
    fill:white;
}

.sport-2 {
    background-color : #002E51;
    height:50%;
    color :white;
}

.sport-3 {
    background-color: #C0CA53;
    height:100%;
}

.sport {
    display:flex;
    justify-content: space-between;
    padding : 0 5vw 0 5vw;
    font-size : 30px;
}

.sport p {
    margin : 0;
}

.description-activite {
    padding-top : 2vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:3vh;
}

.description-activite svg {
    width: 10vw;
    height:10vw;
}

.vitesse {
    text-align: right;
    padding-top : 2vh;
}

.moyenne {
    height:12vh;
    background-color: #495227;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    padding: 0 5vw 0 5vw;
}

.moyenne svg {
    fill:white;
}

.sport-moyenne {
    display:flex;
    flex-direction: row;
}

.sport-2-moyenne {
    text-align: end;
    flex-direction: row-reverse;
}

.icone-moyenne {
    width:10vw;
    margin:auto;
}

.stats-moyenne {
    padding : 1.5vh 5vw 0 5vw;
}

.nombre-moyenne {
    font-size:100px;
    font-weight: 300;
    margin:0;
}

.kmh {
    font-size:30px;
    margin:0;
}