
#heures {
    height:20%;
    background-color: #78DAE5;
    padding-top : 1vh;
    border-bottom:solid 3px black;
}

h2 {
    margin-bottom:0;
}

#calendrier {
    height : 57%;
    width:90vw;
    padding : 4% 5vw;
    background-color: #F4F3EB;
    border-bottom:solid 3px black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-items: center;
}

#calendrier div {
    height:10vh;
    width:10vh;
    border-radius:5vh;
    background-color: #C0CA53;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    font-size: 30px;
}

.best-month {
    background-color: #fc5200 !important;
    z-index: 10;
}

.best-month p {
    margin: 0.25em 0;
}

#comp-21 {
    height:6%;
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding-right:5vw;
}