main {
    height: 89vh;
}

.presentation {
    height: 82vh;
    background-color: #F4F3EB;
    overflow:hidden;
    position:relative;
}

.rose{
    position:absolute;
    height: 7vh;
    width:7vh;
    border-radius:5vh;
    background-color: #FFB4EE;
    left : 7vw;
    top:55vh;
    z-index:20;
}

.kaki{
    position:absolute;
    height: 6vh;
    width: 6vh;
    border-radius:4vh;
    background-color: #495227;
    left : 20vw;
    top:5vh;
    z-index:1;
}

.bleu{
    position:absolute;
    height: 10vh;
    width: 10vh;
    border-radius:5vh;
    background-color: #78DAE5;
    left : 75vw;
    top:10vh;
    z-index:20;
}

.jaune{
    position:absolute;
    height: 15vh;
    width: 15vh;
    border-radius:8vh;
    background-color: #C0CA53;
    left : 65vw;
    top:55vh;
    z-index:1;
}

.milieu {
    height:60vh;
    width:60vh;
    text-align: center;
    background-color: #FC5200;
    padding : 0;
    position: absolute;
    border-radius:40vh;
    display : flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    z-index:10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.milieu p {
    font-size:35px;
}

progress {
    background-color: #c14000;
    color: #ffff;
    border: 0;
    border-radius:25vw;
    height: 10px;
    width: 50vw;
    transition : width 0.4s ease;
}

progress::-webkit-progress-bar {
    background-color: #c14000;
    border: 0;
    border-radius: 25vw;
    height: 10px;
    width: 50vw;
}

progress::-webkit-progress-value {
    background-color: #ffff !important;
    transition : width 0.4s ease;
    border: 0;
    height: 4px;
    border-radius: 25vw;
    position: relative;
    top: 3px;
    left: 3px;
    max-width: calc(50vw - 6px);
}

progress::-moz-progress-bar {
    background-color: #ffff !important;
    transition : width 0.4s ease;
    border: 0;
    height: 4px;
    border-radius: 25vw;
    position: relative;
    top: 3px;
    left: 3px;
    max-width: calc(50vw - 6px);
}

.ready a {
    background-color: #1E2C43;
    color: #ffff;
    text-decoration: none;
    padding: 0.5em 5vw;
    border: none;
    border-radius: 1vw;
    font-size: 35px;
    font-family: 'Karla';
}

.reload a {
    background-color: #b50000;
    color: #ffff;
    text-decoration: none;
    padding: 0.5em 5vw;
    border: none;
    border-radius: 1vw;
    font-size: 35px;
    font-family: 'Karla';
}

.reload {
    margin-top: 5vh;
}

.ready p {
    margin : 0.5em;
}

#decouvrez {
    margin-bottom : 3vh;
}

.ready {
    transition : opacity 0.5s ease;
    opacity: 0;
    display: none;
}

.loading {
    transition : opacity 0.5s ease;
    opacity: 1;
    display: block;
}