.record {
    background-color: #78DAE5;
    height:22vh;
}

#haut-medaille {
    width:90vw;
    height:6vh;
    margin: 0 5vw;
}

.medaille {
    height:30vw;
    width:30vw;
    text-align: center;
    background-color: #C0CA53;
    margin : 0vh 35vw 4vh 35vw;
    border-radius:15vw;
    display : flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}



.medaille img {
    width : 2vh;
    margin : 1vw;
}



#kudos {
    height : 13vh;
    background-color: #002E51;
    color:white;
    padding-top : 2vh;
    padding-right : 5vw;
    display :flex;
    gap:5vw;
    
}

h2 {
    margin :0;
}



.nb-kudos {
    color:#C0CA53;
}

.texte-kudos {
    padding-left:5vw;
    font-size : 30px;
    margin:0;
}

#everest {
    height : 20vh;
    background-color: #C0CA53;
    display:flex;
    position:relative;
}

#everest>p {
    font-size: 32px;
    margin : 0;
    padding : 3vh 0 0 5vw ;
    width : 30vw;
}

#everest div {
    position : absolute;
    bottom : 0;
    right : 5vw;
    background-image: url(../images/haute-montagne-large_1.svg);
    background-position: bottom;
    background-repeat:no-repeat;
    background-size:contain;
}

#everest div {
    height : 90%;
    width : 60vw;
}

#everest div p {
    color:white;
    align-self: center;
    text-align: center;
    margin-top : 9vh;
    padding-left:0;
}