.denivele {
    height : 20vh;
    background-color: #FC5200;
    color :white;
    position:relative;
    padding-top : 2vh;
}

h2{
    margin-top :0;
}

.record {
    font-size:32px;
    position :absolute;
    top : 7vh;
    left: 59vw;
    width:33vw;
    color:white;
}

.record-denivele {
    top:3vh;
}

.montagne{
    position:absolute;
    width:60vw;
    bottom:0;
    margin-left:20vw;
}

.triangle{
    position:absolute;
    top:0;
    width:10vw;
}

.triangle-gauche {
    left:0;
}

.triangle-droit {
    right:0;
}

.distance {
    background-color: #495227;
    height : 15vh;
    padding-top : 7vh;
    position: relative;
    border-bottom:solid 3px black;
}

.nombre-distance{
    color : #C0CA53;
}

.comp-2021{
    height:20vh;
    background-color: #C0CA53;
    display : flex;
    align-items: center;
}

.comp-2021>div {
    width:50vw;
}

.h2-2021{
    font-size:30px;
}

.nb-deni-2021 {
    color:#002E51;
    
}

.nb-dis-2021 {
    color:#495227;
}

.nb-2021 {
    font-size : 100px;
    margin:0;
    padding-left:5vw;
}